* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c1e21;
    position: relative;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 40px;
    flex: 1;
    width: 100%;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}
.logo {
    position: absolute;
    top: 12px;
    left: 20px;
}
.left {
    flex: 1;
    padding-top: 20px;
    text-align: center;
    min-width: 0;
}
.right {
    font-family: sans-serif;
    border-left: 2px solid lightgray;
    padding: 70px 40px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;     
    max-width: 100%;
    position: relative;
    flex: 0 0 500px;
}
.right input{
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.right button{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.loginn {
    margin-bottom: 50px;
}
.forget {
    display: block;
    text-align: center;
    color: #1c1e21;
    background-color: rgb(255, 255, 255)  ;
    text-decoration: none;
    margin-top: 3px;
}
.voiti {
    margin-bottom: 10px;
}
.forget:hover, .facebook:hover, .create:hover {
    background-color: #dcdcdc;
}
.signin {
    background-color: rgb(0, 136, 244)  ;
    color: white;
    text-align: center;
}
.facebook {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-bottom: 10px;
}
.facebook a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}
.create button {
    border-color: rgb(0, 136, 244);
}
.create {
    background-color: white;
    border-color: rgb(0, 136, 244);
    color: rgb(0, 136, 244);
}
.meta {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}
.rainbow{
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}
.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    color: gray;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}
.footer a{
    color: gray;
    text-decoration: none;
    margin: 5px;
    font-size: 12px;
}
.upper, .lower {
    margin: 10px;
}

.visually-hidden{
  position:absolute;
  width:1px;height:1px;
  overflow:hidden;
  clip:rect(0 0 0 0);
  white-space:nowrap;
}
